<html lang="en">
<head><link rel="stylesheet" href="../app.component.html"></head>
<header><app-header></app-header></header>
<body class="body">
    <!-- <div class="home col-10">
        <div class="img" > <a href="/products" (click)="onClick(1)">
            <img src="https://i.pcmag.com/imagery/reviews/07qEJlaRdL885Ax86tRvCmS-22..v1608657680.jpg" alt="headphones">
            <label type="">Headphones</label> </a>
        </div>
        <div class="img"> <a href="/products" (click)="onClick(2)">
            <img src="https://img.freepik.com/premium-vector/realistic-phone-isolated-white-background-smartphone-template-your-mockup_7993-6350.jpg" alt="IPhone">
            <label type="">Phones</label> </a>
        </div>
        <div class="img"> <a href="/products" (click)="onClick(3)">
            <img src="https://t3.ftcdn.net/jpg/06/76/18/50/360_F_676185023_SlnoHXNHe4jIyYwQ4X1c3uf5s6G7rhYV.jpg" alt="TV">
            <label type="">TVs</label> </a>
        </div>
        <div class="img"> <a href="/products" (click)="onClick(4)">
            <img src="https://www.apple.com/newsroom/images/product/ipad/standard/Apple-iPad-Pro-silver-2up-221018_big.jpg.large.jpg" alt="IPad">
            <label type="">Tablets</label> </a>
        </div>
        <div class="img"> <a href="/products" (click)="onClick(5)">
            <img src="https://gadgetstudio.com.bd/image/cache/catalog/Macbook%20M3/16inch/silver/Macbook-pro-16inch-M3-chip-910x1155.jpg" alt="Mac">
            <label type="">Laptops</label> </a>
        </div>
        <div class="img"> <a href="/products" (click)="onClick(6)">
            <img src="https://media.istockphoto.com/id/1352176789/photo/smart-phone-cover-mockup-on-isolated-white-background-mobile-back-cover-or-case-for-design.jpg?s=612x612&w=0&k=20&c=dQhhcRmTfAl2Wnqu0wUq78h5k1dSTyg48oNEgDejMAk=" alt="Phone case">
            <label type="">Accessories</label> </a>
        </div>
    </div> -->
    <div class="home container">
        <div class="row">
            <div class="col">
                <div class="img" > <a href="/products" (click)="onClick(1)">
                    <img src="https://i.pcmag.com/imagery/reviews/07qEJlaRdL885Ax86tRvCmS-22..v1608657680.jpg" alt="headphones">
                    <label type="">Headphones</label> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img"> <a href="/products" (click)="onClick(2)">
                    <img src="https://img.freepik.com/premium-vector/realistic-phone-isolated-white-background-smartphone-template-your-mockup_7993-6350.jpg" alt="IPhone">
                    <label type="">Phones</label> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img"> <a href="/products" (click)="onClick(3)">
                    <img src="https://t3.ftcdn.net/jpg/06/76/18/50/360_F_676185023_SlnoHXNHe4jIyYwQ4X1c3uf5s6G7rhYV.jpg" alt="TV">
                    <label type="">TVs</label> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img"> <a href="/products" (click)="onClick(4)">
                    <img src="https://www.apple.com/newsroom/images/product/ipad/standard/Apple-iPad-Pro-silver-2up-221018_big.jpg.large.jpg" alt="IPad">
                    <label type="">Tablets</label> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img"> <a href="/products" (click)="onClick(5)">
                    <img src="https://gadgetstudio.com.bd/image/cache/catalog/Macbook%20M3/16inch/silver/Macbook-pro-16inch-M3-chip-910x1155.jpg" alt="Mac">
                    <label type="">Laptops</label> </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="img"> <a href="/products" (click)="onClick(6)">
                    <img src="https://media.istockphoto.com/id/1352176789/photo/smart-phone-cover-mockup-on-isolated-white-background-mobile-back-cover-or-case-for-design.jpg?s=612x612&w=0&k=20&c=dQhhcRmTfAl2Wnqu0wUq78h5k1dSTyg48oNEgDejMAk=" alt="Phone case">
                    <label type="">Accessories</label> </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
<app-footer></app-footer>
</html>
