<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <header></header>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light">
          <!-- vv not logged in vv -->
          <div *ngIf="!this.isLoggedIn; else elseBlock" class="container-fluid">
            <a class="navbar-brand" href="">TechSell</a>
            <div class="search">
              <input class="form-control me-2" type="text" placeholder="Search" id="search" aria-label="Search" 
                     id="yourInputId" name="yourInputName">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <!-- <li class="nav-item">
                  <a class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">About</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link">Products</a>
                </li>
                <li >
                  <a class="nav-link" href="/login">Log In</a>
                </li>
              </ul>
            </div>
          </div> 
          <!-- vv logged in vv -->
          <ng-template #elseBlock>
            <div class="container-fluid">
              <a class="navbar-brand" href="/home">TechSell</a>
              <div class="search">
                <input class="form-control me-2" type="text" [(ngModel)]="searchString" 
                       (keyup.enter)="onEnterKeyPressed()"placeholder="Search" id="search" aria-label="Search" 
                       id="yourInputId" name="yourInputName">
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li> -->
                  <li class="nav-item products-link">
                    <a class="nav-link">Products <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                      <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                    </svg></a>
                    <div class="dropdown">
                        <a href="/products" (click)="productSearch('Products')">All Products</a> <br>
                        <a href="/products" (click)="productSearch('Headphones')">Headphones</a> <br>
                        <a href="/products" (click)="productSearch('Cell Phones')">Cell Phones</a> <br>
                        <a href="/products" (click)="productSearch('TVs')">TVs</a> <br>
                        <a href="/products"(click)="productSearch('Tablets')">Tablets</a> <br>
                        <a href="/products" (click)="productSearch('Laptops')">Laptops</a> <br>
                        <a href="/products" (click)="productSearch('Accessories')">Accessories</a> <br>
                    </div>
                  </li>
                  <li class="welcome">
                    <a class="nav-link">Welcome {{user.name}}</a>
                    <div class="dropdown2">
                      <a href="">Log Out</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link cart" href="/cart">Cart <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                      <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg></a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </nav>
    </body>
</html>
